#test
{
	width : 200px;
	height : 200px;
    border-radius : 10px;
	background-color : gray;
	box-shadow: 12px 12px 20px black;
    padding : 10px;
    margin : 10px;
}

#conteneur
{
	width : 2200px;
	height : auto;
    margin-left : 10%;
    margin-right : 10%;
}

#head
{
	width : 1300px;
	height : 100px;
    border-radius : 5px 20px 5px 20px;
	background-color : gray;
	box-shadow: 12px 12px 20px black;
    padding : 10px;
    margin-bottom : 20px;
}

.banner
{
	width: 20%;
	margin-left: 20px;
	margin-bottom: 40px;
}

#cont_centre
{
    width : 1600px;
    height : 100%;
}

#left_main
{
	float : left;
	width : 220px;
}

#toto
{
	font-family: Arial,sans-serif; 
	text-align: center;
}

#left1
{
	width : 200px;
	height : 200px;
    background-color : gray;
	padding-top:10px;
	padding-bottom:10px;
    border-radius : 10px;
}

#left2
{
	width : 200px;
	height : 260px;
	background-color : gray;
	margin-right : 20px;
	margin-top : 20px;
	padding-top:10px;
	padding-bottom:10px;
	border-radius : 10px;
}

#left3
{
	width : 200px;
	height : 230px;
	background-color : gray;
	margin-right : 20px;
	margin-top : 40px;
	padding-top : 20px;
	padding-bottom : 30px;
	border-radius : 10px;
}

#right
{
	width : 200px;
	height : 80px;
	background-color : rgba(100, 100, 100, 0.5);
	float : right;
	padding:10px;
	border-radius : 10px 10px 0px 0px;
	margin-right:10px;
	margin-top : 10px;
}

#center
{
	width : 1100px;
	height : 1200px;
	float : left;
	box-shadow: 12px 12px 20px black;
	border-radius : 10px;
	border-color : black;
	background-color : gray;
}

#user_log
{
	text-align : center;
	margin-top:10px;
	font-size : 1em;
	font-weight : bold;
	color : #000;
	text-shadow:1px 1px 1px #CCC;
}

#users_handle_title
{
	width : 110%;
	margin-bottom : 16px;
	font-size : 25px;
	font-weight : bold;
	padding:1px;
}

.contain_category
{
	float:left;
	width:1000px;
	height:600px;
	margin-top:20px;
	margin-right:0px;
	margin-left:20px;
	padding : 20px;
	border-top : solid 2px;
	border-bottom : solid 2px;
	background : -webkit-gradient(linear, 100% 0%, 0% 0%,  from(#6D6D6D), to(#6D6D6D), color-stop(.5,#22ABC8));
	box-shadow: 10px 10px 5px rgba( 0, 0, 0, 0.5),
}

.contain_product
{
	float:left;
	width:190px;
	height:190px;
	margin-top:60px;
	margin-left:30px;
	border:solid 3px;
	border-radius : 15px;
	padding : 5px;
	background-color : rgba(255, 255, 255, 0.6);
}

.contain_product:hover
{
	float:left;
	width:200px;
	height:200px;
	margin-top:10px;
	margin-left:10px;
	padding : 25px;
	background-color : rgba(255, 255, 255, 0.2);
	transition: all 200ms linear;
}

.error
{
	border-radius:5px 5px 0px 0px;
	background-color: rgba(255, 0, 0, 0.8);
	padding:1px;
	padding-right:55px;
	font-weight:bold;
	font-size:14px;
	margin-left:2px;
}

.success
{
	border-radius:5px 5px 0px 0px;
	background-color: rgba(0, 255, 0, 0.8);
	padding:1px;
	padding-right:50px;
	font-weight:bold;
	font-size:14px;
	margin-left:2px;
}

.price_img
{
	text-align : right;
	float : right;
}

.log_button
{
	text-decoration: none;
	font-family: Arial,sans-serif;
	font-size: 1.4em;
	width: 160px;
	height: 33px;
	padding-top: 1px; /*permet le centrage vertical*/
	padding:4px;
	margin-left:22px;
	text-align: center;
	color: #000;
	background: #444;
	background: -webkit-linear-gradient( #555, #2C2C2C);
	background:    -moz-linear-gradient( #555, #2C2C2C);
	background:     -ms-linear-gradient( #555, #2C2C2C);
	background:      -o-linear-gradient( #555, #2C2C2C);
	background:         linear-gradient( #555, #2C2C2C);
	border-radius: 8px;
	text-shadow: 0px 1px 0px white;
	text-shadow: 0px 1px 0px rgba( 255, 255, 255, 0.2);
	box-shadow: 0 0 5px rgba( 0, 0, 0, 0.5),
	0 -1px 0 rgba( 255, 255, 255, 0.4);
}

.log_button:hover
{
	color: #222;
	background: #555;
	background: -webkit-linear-gradient( #777, #333);
	background:    -moz-linear-gradient( #777, #333);
	background:     -ms-linear-gradient( #777, #333);
	background:      -o-linear-gradient( #777, #333);
	background:         linear-gradient( #777, #333);
}

.log_button:active
{
	color: #000;
	background: #444;
	background: -webkit-linear-gradient( #555, #2C2C2C);
	background:    -moz-linear-gradient( #555, #2C2C2C);
	background:     -ms-linear-gradient( #555, #2C2C2C);
	background:      -o-linear-gradient( #555, #2C2C2C);
	background:         linear-gradient( #555, #2C2C2C);
	box-shadow: 1px 1px 10px black inset, 
	0 1px 0 rgba( 255, 255, 255, 0.4);
}

#title
{
	margin-bottom : 16px;
	font-size : 25px;
	font-weight : bold;
	padding:1px;
}



ul
{
	margin-top:20px;
	margin-left:-45px;
	width:210px;
	font-family:sans-serif;
	font-style:bold;
	font-size:20px;
}

ul li
{
	background-color: rgba(28, 200, 230, 0.8);
	height:40px;
	list-style-type:none;
	text-align: center;
}

ul li a
{
	background: transparent;
	transition: background 0s;
	text-decoration: none;
	padding: .7em 1em;
	width: auto;
	height:auto;
	display: block;
	font-family:sans-serif;
	color:#000;
}

ul li a:hover
{
	background-color: rgba(255, 255, 255, 0.8);
	margin-left:10px;
	width:170px;
	transition: all 350ms linear;
	height:12px;
}

ul li:first-child
{
	border-radius: 0px 3px 0px 0px;
}
